
.DS_Store
.direnv
.vscode
result/
target/

# Cap'n Proto
*_capnp.rs

# Storb
logs/
object_store/
settings.toml
!settings.toml.example
storb-ignore
*.storb-local

# Testing
test_dir_*

# Certificates
*.der
