version = "0.4.0"
log_level = "INFO"     # Must be one of TRACE, DEBUG, INFO, WARN, ERROR

netuid = 26             # Testnet is 269
external_ip = "0.0.0.0"
api_port = 6969
post_ip = false

wallet_path = "~/.bittensor/wallets"
wallet_name = "default"
hotkey_name = "default"

otel_api_key = ""
otel_endpoint = ""
otel_service_name = ""

mock = false

load_old_nodes = true # TODO: remove
min_stake_threshold = 1000 # TODO: remove

db_file = "storb_data/database.db" # move this to validator-only or remove entirely
metadatadb_file = "storb_data/metadata.db" # move this to validator only
neurons_dir = "storb_data/neurons.state"

[subtensor]
network = "finney"
address = "wss://entrypoint-finney.opentensor.ai:443"
insecure = true

[neuron]
sync_frequency = 300

[miner]
store_dir = "object_store"

[validator]
scores_state_file = "storb_data/scores.storb-state"
api_keys_db = "storb_data/api_keys.db"
crsqlite_file = "crsqlite/crsqlite.so"
sync_stake_threshold = 50000

[validator.neuron]
num_concurrent_forwards = 1
disable_set_weights = false

[validator.query]
batch_size = 20
num_uids = 10
timeout = 5
