version = "0.1.5"
log_level = "INFO"     # Must be one of TRACE, DEBUG, INFO, WARN, ERROR

netuid = 26             # Testnet is 269
external_ip = "0.0.0.0"
api_port = 6969
quic_port = 6970
post_ip = false

wallet_path = "~/.bittensor/wallets"
wallet_name = "default"
hotkey_name = "default"

otel_api_key = ""
otel_endpoint = ""
otel_service_name = ""

mock = false

load_old_nodes = true
min_stake_threshold = 1000

db_file = "storb_data/database.db"
neurons_dir = "storb_data/neurons.state"
pem_file = "storb_data/storb.pem"

[subtensor]
network = "finney"
address = "wss://entrypoint-finney.opentensor.ai:443"
insecure = true

[neuron]
sync_frequency = 300

[dht]
port = 6942
no_bootstrap = false

# mainnet dht bootstrap node
bootstrap_nodes = ["/ip4/185.216.203.183/udp/6942/quic-v1/p2p/12D3KooWHD7S45Y2ao9bK6W8zKWxzkTBaDqNU7iKnX1jJr49okov"]
# bootstrap_nodes = ["/ip4/<ipv4-addr>/udp/<port>/quic-v1/p2p/<peer-id>"]

[miner]
store_dir = "object_store"

[validator]
scores_state_file = "storb_data/scores.storb-state"
api_keys_db = "storb_data/api_keys.db"

[validator.neuron]
num_concurrent_forwards = 1
disable_set_weights = false
moving_average_alpha = 0.1
response_time_alpha = 0.1

[validator.query]
batch_size = 20
num_uids = 10
timeout = 5
